module.exports = {
  apps : [
    {
      name      : 'speech',
      script    : 'npm',
      args: 'start',
      env: {
          GOOGLE_APPLICATION_CREDENTIALS: 'path/to/googlecred.json'
      }
    }
  ],
};
