body {
    overflow: hidden;
}

#back-button {
    height: 3vh;
}

.register {
    width: 33vw;
    margin: 0 auto;
}

#registered-panel .register {
    overflow-y: scroll;
}

#register-panel {
    display: flex;
    height: 37vh;
}

#registered-panel {
    display: flex;
    margin: 0 auto;
    text-align: center;
    height: 55vh;
}

.input-col {
    display: block;
    width: 40%;
    margin-top: 5px;
}


#speakers {
    margin: 0 auto;
    background: rgba(200, 200, 100, 0.5);
}

#speakers .speaker, #speaker-header {
    width: 100%;
    display: flex;
}

#pictures .picture, #picture-header {
    width: 100%;
    display: flex;
}

.picture-column {
    display: block;
    width: 50%;
}

.speaker-column {
    display: block;
    width: 50%;
}

#serifs .serif, #serif-header{
    display: flex;
}
.serif-column {
    display: block;
    width: 50%;
}

#serifs {
    margin: 0 auto;
    background: rgba(200, 100, 100, 0.5);
}

#pictures {
    margin: 0 auto;
    background: rgba(200, 200, 200, 0.5);
}

#pictures img {
    max-width: 100%;
}

@media screen and (max-width: 767px) {
    body {
        margin: 0;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    #register-panel {
        flex-direction: column;
        margin: 5px;
        height: initial;
    }
    .register {
        width: 100vw;
    }

    #registered-panel {
        flex-direction: column;
        height: initial;
    }
}

