body {
    height: 90vh;
/*    overflow: hidden;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

a {
    color: #00B7FF;
}

p {
    margin: 0;
}

nav {
    color: #fff;
}
/*
#select-elements {
    margin-top: 5px;
}
*/
.settings {
    margin: 10px;
}

.settings img{
    max-width: 50px;
    max-height: 50px;
}

.settings-select {
    width: 10vw;
     overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  position: relative;
  border-radius: 0.2em;
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 0 #AAA;
  background-color: white;
}

.settings select {
    -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  margin: 0;
  padding: 0;
  background: none transparent;
  vertical-align: middle;
  font-size: inherit;
  color: black;
  box-sizing: content-box;
}

.settings-select > select {
  width: 130%;
  padding: 0.6em 2.4em 0.6em 0.6em;
  font-size: 1rem;
}

.settings input[type="range"] {
    width: 10vw;
}

.settings p {
    font-size: 1.5em;

}

.settings input {
    display: block;
}

#background {
    background: url("/images/Background.jpg");
    background-size: 30vw 100vh;
    height: 100vh;
    width: 30vw;
    margin: 0 auto;
    background-size: cover;
    position: relative;
    z-index: 0;
    overflow: hidden;/*ブラー効果でボヤけた部分を非表示*/;
}

#background:before {
    content: '';
    background: inherit ;
    background-blend-mode: multiply;
    -webkit-filter: blur(2.5px);
    -moz-filter: blur(2.5px);
    -o-filter: blur(2.5px);
    -ms-filter: blur(2.5px);
    filter: blur(2.5px);
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    z-index: -1;
}

#settings-panel {
    position: absolute;
}

#settings-panel img {
    max-width: 50px;
    max-height: 50px;
}

/*
#background:after {
    content: '';
    background: linear-gradient(#05FBFF, #1E00FF);
    background-blend-mode: multiply;
    z-index: 1;
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
}
*/
#serif {
    position: absolute;
    background: rgba(100, 100, 100, 0.5);
    width: 30vw;
    height: 20vh;
    bottom: 12vh;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    font-size: 2em;
}

#serif #speaker-name {
    text-align: left;
    width: 80%;
    margin: 5px auto;

}

#serif #text {
    word-wrap: break-word;
    line-height: 1.6em;
    width: 18em;
    margin: 0 auto;
}

#speaker-name {

}

#char {
    text-align: center;
    background: /*linear-gradient(45deg, #aaaaaa, #ffffff),*/url(/upload/d551332d5a2bcc91733a13e6f30e8198)  no-repeat;
    background-blend-mode: screen;
    background-size: cover;
    height: 100vh;
    width: 30vw;
}

#text {
    text-align: left;
    overflow-y: scroll;
    height: 15vh;

}

#text::-webkit-scrollbar {
    width: 4px;
}

#text::-webkit-scrollbar-track {
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777;
}

#text::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 10px;
    box-shadow: none;
}

.ui-text {
    height: 100%;
    line-height: 100%;
}

.ui-button {
    width: 50px;
    height: 50px;


}

@media screen and (max-width: 767px) {
    input {
        width: 50vw;
        height: 5vh;
    }

    input::-webkit-slider-thumb {
        width: 27.5px;
        height: 27.5px;

    }
    #background {
        width: 100vw;
        background-size: 100vw 100vh;
    }

    #serif {
        width: 100vw;
        height: 25vh;
        left: 0;
        right: 0;
        font-size: 1.5em;
    }

    #char {
        width: 100vw;
    }
    .settings-select {
        width: 45vw;
    }
    .settings input[type="range"] {
        width: 45vw;
    }
}

